[
  {
    "scope": "https://api.conekta.io:443",
    "method": "POST",
    "path": "/charges",
    "body": {
      "description": "Stogies",
      "amount": 5000,
      "currency": "mxn",
      "reference_id": "98123-gave-me",
      "card": "tok_test_visa_4242",
      "details": {
        "email": "john@doe.com",
        "name": "John Doe",
        "phone": "1231233232",
        "line_items": [
          {
            "name": "Box of Cohiba S1s",
            "description": "Imported From Mex.",
            "unit_price": 2000,
            "quantity": 1,
            "sku": "cohb_s1",
            "type": "food"
          }
        ]
      }
    },
    "status": 200,
    "response": {
      "id": "58852de6dba34d719c018d32",
      "livemode": false,
      "created_at": 1485123046,
      "status": "paid",
      "currency": "MXN",
      "description": "Stogies",
      "reference_id": "98123-gave-me",
      "failure_code": null,
      "failure_message": null,
      "monthly_installments": null,
      "device_fingerprint": "123456789abcdefghijkmnopqrstuv",
      "refunds": [],
      "payment_method": {
        "name": "Jorge Lopez",
        "exp_month": "12",
        "exp_year": "19",
        "auth_code": "069064",
        "object": "card_payment",
        "type": "credit",
        "normalized_device_fingerprint": null,
        "last4": "4242",
        "brand": "visa",
        "issuer": "",
        "account_type": "",
        "country": "US",
        "fraud_score": 29,
        "fraud_indicators": []
      },
      "details": {
        "name": "John Doe",
        "phone": "1231233232",
        "email": "john@doe.com",
        "line_items": [
          {
            "name": "Box of Cohiba S1s",
            "description": "Imported From Mex.",
            "unit_price": 2000,
            "quantity": 1,
            "sku": "cohb_s1",
            "category": "food",
            "object": "line_item"
          }
        ],
        "coupons": [],
        "object": "details"
      },
      "object": "charge",
      "amount": 5000,
      "paid_at": 1485123051,
      "fee": 458,
      "customer_id": "",
      "subscription_id": "",
      "amount_refunded": null
    },
    "rawHeaders": [
      "max-age=0, private, must-revalidate",
      "Conekta-Media-Type",
      "conekta-v1.0.0; format=json",
      "Content-Type",
      "application/json; charset=utf-8",
      "Sun, 22 Jan 2017 22:10:52 GMT",
      "ETag",
      "\"70d1e5f48b66c62e62a14fca68426f3c\"",
      "Apache",
      "max-age=31536000; includeSubDomains",
      "0ebcbb70369849301a229368db168a2e",
      "6.135195",
      "980",
      "Close"
    ]
  }
]